// root colors
$active-filter: hsl(220, 98%, 61%);
$app-bg: hsl(0, 0%, 95%);
$todo-item: hsl(0, 0%, 100%);
$checked-todo: hsl(233, 11%, 84%);
$filter-text: hsl(236, 9%, 61%);
$todo-text: hsl(235, 19%, 35%);
$checked-bg: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);



